python-dotenv>=1.0.0
openai>=1.0.0
kagglehub>=0.3.0
torch>=2.2.0
transformers>=4.44.0
sentence-transformers>=3.0.0
faiss-cpu>=1.8.0
peft>=0.11.0
bitsandbytes>=0.43.1
datasets>=2.20.0
trl>=0.9.6
rank-bm25>=0.2.2
pandas>=2.2.0
numpy>=1.26.4
scikit-learn>=1.5.0
tqdm>=4.66.0
PyYAML>=6.0.1
accelerate>=0.30.0
einops>=0.8.0
